body {
    background: #000;
}
.gameboard {
    width: 500px;
    height: 750px;
    background: #ccc;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#start {
    background: rgb(0, 126, 0);
    width: 200px;
    height: 50px;
    color: #fff;
    border: none;
}
