body {
  background: #eee;
  /* cursor: none; */
}

.gameboard {
  width: 500px;
  height: 750px;
  background: #fff;
  margin: 0 auto;
  margin-top: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#start {
  font-weight: 700;
  font-size: 33px;
}

.box-main {
  box-shadow: inset 0px 0px 0px 1px #ddd;
}

#score {
  position: absolute;
  left: -89px;
  width: 80px;
  top: 50%;
  text-align: right;
}