body {
  background: #eee;
  /* cursor: none; */
}

.gameboard {
  width: 500px;
  height: 750px;
  background: #fff;
  margin: 0 auto;
  margin-top: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#start {
  /* background: #007e00; */
  width: 200px;
  height: 50px;
  color: rgb(0, 0, 0);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 19px;
  text-align: center;
}

.box-main {
  box-shadow: inset 0px 0px 0px 1px #ddd;
}

#score {
  position: absolute;
  left: -89px;
  width: 80px;
  top: 50%;
  text-align: right;
}