body {
  background: #000;
}

.gameboard {
  height: 0px;
  width: 0px;
  background: #ccc;
  margin: 0 auto;
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#start {
  background: #007e00;
  width: 200px;
  height: 50px;
  color: #fff;
  border: none;
}

#start:hover {
  cursor: pointer;
  background: #005900;
}

.box-main {
  box-shadow: inset 0px 0px 0px 1px #fff;
}